<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detalhe.css " tpye="text/css" />
    <title>Editar</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form action="/editar/<%= carro.id %>" method="post">
        <legend>Editar</legend>
        <fieldset>
          <input type="text" name="img" value="<%= carro.img %>" />
          <label for="img">Imagem</label>
        </fieldset>

        <fieldset>
          <input type="text" name="modelo" value="<%= carro.modelo %>" />
          <label for="modelo"><b>Modelo</b></label>
        </fieldset>

        <fieldset>
          <input type="number" name="ano" value="<%= carro.ano %>"/>
          <label for="ano"><b>Ano</b></label>
        </fieldset>

        <fieldset>
          <input type="text" name="tanque" value="<%= carro.tanque %>"/>
          <label for="tanque"><b>Tanque</b></label>
        </fieldset>

        <fieldset>
          <input type="text" name="autonomia" value="<%= carro.autonomia %>"/>
          <label for="autonomia"><b>Autonomia</b></label>
        </fieldset>

        <fieldset>
          <input type="text" name="fabricante" value="<%= carro.fabricante %>"/>
          <label for="fabricante"><b>Fabricante</b></label>
        </fieldset>

        <div id="bn-container">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </main>
  </body>
</html>
